body {
	font-family: sans-serif;
	background-color: #eee;
	margin: 8px;
}

canvas {
	background-color: white;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 540px;
	display: flex;
}

/* Nice & simple: Button - http://codepen.io/tomsoderlund/pen/qqyzqp */
button {
	background-color: dodgerblue;
	color: white;
	border-radius: 0.1em;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	outline: none;
	padding: 0.6em;
	margin: 0 0.1em 0.2em;
	transition: all 0.2s;
	flex: 1;
}
button:hover:not(:disabled) {
	opacity: 0.85;
}
button:hover:active {
	opacity: 0.7;
	transition: all 0.05s;
}
button:disabled {
	cursor: initial;
	background-color: silver;
}

#status {
	width: 120px;
	text-align: center;
}